/* COLORs //////////////////////////*/
$colorYellow: #EED977;
$colorRed: #D24138;
$colorBrown: #4D2421;
$colorWhite: white;
$colorBlack: #161615;

/* FONTS //////////////////////////*/
$roboto: 'Roboto';
$sansSerif: 'sans-serif';
$balooShaina: 'Baloo Bhaina 2', cursive;


